<% include partials/header.ejs %>

<div class="page-center">
        <div class="container">
          <div id="rocket">
          </div>
            <div class="row">
                <div class="col-lg-12">
                    <div>
                        <h1>Example Launch Page</h1>
                        <h3 class="lSaver">We are planning exciting things! Sign up for updates below</h3>
                        <h4 class="lSaver"> Use this page to gather followers and intrest while the application is being developed.</h4>
                        <h4 class="lSaver"> Integrate Mailchimp to send out updates and keep those interested informed.</h4>
                        <hr class="intro-divider">

                        <% if (!success) { %>
                          <% if (errors !== undefined){ %>
                            <p>there are errors on page</p>
                            <ul class="errors">
                            <% for (const error of errors){ %>
                              <li><%= error.msg %> </li>
                            <% } %>
                          </ul>
                          <% }  %>
                        <form method="post" action="/">
                                <div class="form-group">
                                    <label class="form-label" for="firstName"></label>
                                    <input class="form-control form-input" type="text" name="firstName" id="firstname" placeholder="First Name"/>
                                </div>
                                <div class="form-group">
                                    <label class="form-label" for="lastName"></label>
                                    <input class="form-control form-input" type="text" name="lastName" id="lastname" placeholder="Last Name"/>
                                </div>
                                <div class="form-group">
                                    <label class="form-label" for="email"></label>
                                    <input class="form-control form-input " type="text" name="email" id="email" placeholder="Email"/>
                                </div>
                            <input type="submit" class="btn btn-primary lSaver" value="Get Updates"/>

                        </form>
                      <%  } else { %>
                        <div class="success">
                          <p>Thank you for signing up!</p>

                        </div>
                        <% } %>




                        <hr class="intro-divider">
                          <p>
                            <iframe src="https://ghbtns.com/github-btn.html?user=4T0M1Cdevsec&repo=node-mongo-mailchimp-prelaunch&type=star&count=true" frameborder="0" scrolling="0" width="100px" height="20px"></iframe>
                            <iframe src="https://ghbtns.com/github-btn.html?user=4T0M1Cdevsec&repo=node-mongo-mailchimp-prelaunch&type=fork&count=true" frameborder="0" scrolling="0" width="100px" height="20px"></iframe>
                          <p>
                        <div class="built-with lSaver">
                           <p>This launch page is built on</p>
                           <div class="row">
                             <div class="col-xs-4 col-md-4 logo">
                               <a href="https://nodejs.org/" class="thumbnail">
                                 <img src="/images/nodejs-black.png" alt="">
                               </a>
                             </div>
                             <div class="col-xs-4 col-md-4 logo">
                               <a href="http://eepurl.com/cCsH6P" class="thumbnail">
                                 <img src="/images/mailchimp.png" alt="">
                               </a>
                             </div>
                             <div class="col-xs-4 col-md-4 logo">
                               <a href="https://www.mongodb.com/" class="thumbnail">
                                 <img src="/images/mongodb-logo-white.png" alt="">
                             </a>
                           </div>
                         </div>
                       </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>


<% include partials/footer.ejs %>
